/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.npmrc
public/build/
public/css/
public/fonts/
public/images/
public/js/
public/ts/
public/json/
public/vendors/
public/mix-manifest.json
resources/js/interfaces/index.ts
resources/js/helpers/index.ts
resources/js/services/index.ts
.eslintrc-auto-import.json
resources/js/types/auto-imports.d.ts
resources/js/components.d.ts
